  
.cities {
    word-wrap: break-word;
    color:black;
    text-decoration-line:underline;
    text-align: left;
    width: 400px;
    padding-left: 10px;   
}
.container {
    display:flex; 
    
    flex-wrap: wrap;
}
.img{
    width:"400";
    height:"400";
}
.cities:hover > h1 {
    color:blue;
}
.cities:hover > p {
    color:red;
}

.main-text {  
    text-decoration-line: underline;
    
    width: 800px;
    height:200px;      
}
.main-text:hover > h2 {
    color:blue;
}
.main-text:hover > p {
    color: red;
}
button {
    color: red;
}

  
.container2 { 
  word-wrap: break-word;     
  display: inline-flex;
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: gray;
    
   
}
.container2:hover {
    color: gold;
}

.links { 
    text-color: black;
    text-align: left;
    background: color gray;
    
}
.media {    
    text-align: right;
}

@media only screen and (max-with:768px) {
    img {
        width: 400px;
    }
}
@media (min-width: 768px) {
    .container2 {
        display: none;
    }
}
@media (max-width: 576px) {
.cities {
    display: none;
}
}