h1 {
    margin-top: 1%;
    margin-bottom: 9%;
    text-align: center;
}
header:hover > h1 {
    color:red;
}
main {
    border-right-style: groove
 }
DIV {
    color:black;
    border: 1px;
    width: 80%;
    margin: 8%;
    text-align: left;
    background-color: whitesmoke;
}
div:hover > p {
    background-color: rgb(210, 210, 230);

    
}
ul {text-align: center;
    text-decoration-line: underline;
    background-color: rgb(189, 237, 243);
}
footer:hover > h3 {
    color: gold;
}

body {
    background-image: url("https://png.pngtree.com/element_pic/16/12/06/c868d0d88e604ce7be650780ce8ca9f9.jpg")
    
}
.web1 {
    text-align: left;
}
article:hover > h2 {
    color:red;
}
h2 {
  border: red;
}
nav:hover > h2 {
    color: red;
}
h4 {
    text-align: left;
}

article:hover > h4 {
    color:red;
}
article {
    border:solid balck;
}